/* ==========  Select Field Variables ========== */
$color-black: "0,0,0";
$select-background-color: transparent;
$select-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
$select-font-size: 16px;
$select-color: unquote("rgba(#{$color-black}, 0.26)") !default;
$select-padding: 4px;

/* ==========  Select Field ========== */

/* Style Select Field */
select {
}

/* Remove focus */
select:focus {
  outline: none}

/* Hide label */
.mdl-selectfield label {display: none;}
/* Use custom arrow */
.mdl-selectfield select {appearance: none}
.mdl-selectfield {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
    &:after {
        position: absolute;
        top: 0.75em;
        right: 0.5em;
        /* Styling the down arrow */
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: .25em solid transparent;
        border-right: .25em solid transparent;
        border-top: .375em solid $select-border-color;
        pointer-events: none;
    }
}

/* ==========  Demo CSS ========== */
body {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
}
.acd-1{
  box-shadow: 0px 0px 4px #888888 !important;
  background-color: white !important;;
  bottom: 570px;
  position: relative;
  left: 231px;
  width: 605px;
}
.panel-heading{
  width: 605px;
}
.panel-default>.panel-heading {
    background-color: white !important;
}
.h-1 {
    background-color: #F7F7F7;
    top: 1px;
    left: 15px;
    padding-top: 15px;
    position: relative;
    box-shadow: 0px 3px 6px #000000;
    border: 0px;
    width: 100%;
}
}